In [1]:
# Imports

# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

#for preprocessing needs to be removed
from sklearn.preprocessing import LabelEncoder

# Support Vector Machines
def svm_model(X_train, Y_train,X_test):
    svc = SVC()
    svc.fit(X_train, Y_train)
    Y_pred = svc.predict(X_test)
    svc.score(X_train, Y_train)
    return Y_pred

#KNeighborsClassifier
def knn_model(X_train, Y_train,X_test)
    knn = KNeighborsClassifier(n_neighbors = 3)
    knn.fit(X_train, Y_train)
    Y_pred = knn.predict(X_test)
    knn.score(X_train, Y_train)
    return Y_pred


# Logistic Regression
def logistic_regression_model(X_train, Y_train,X_test)
    logreg = LogisticRegression()
    logreg.fit(X_train, Y_train)
    Y_pred = logreg.predict(X_test)
    logreg.score(X_train, Y_train)
    return Y_pred

In [ ]:
def get_data():
    # get test & test csv files as a DataFrame
    train_df = pd.read_csv("data/train.csv")
    test_df    = pd.read_csv("data/test.csv")
    # drop unnecessary columns, these columns won't be useful in analysis and prediction
    train_df = train_df.drop(['id'], axis=1)
    test_df  = test_df.drop(['id'], axis=1)
    X_train = train_df.drop("salary",axis=1)
    Y_train = train_df["salary"]

In [2]:
#for preprocessing needs to be modified with proper logical function
def string_to_numeric(dataframe):
    col_obj=['workclass','education','marital-status','occupation','relationship','race','sex','native-country']
    number =  LabelEncoder()
    for cols in col_obj:
        dataframe[cols]=number.fit_transform(dataframe[cols].astype('str'))
    return dataframe

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
5,7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
6,8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
7,9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,0
8,10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,1
9,12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,0
10,13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,0
11,14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,1
12,16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,0
13,17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,0
14,18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38973 entries, 0 to 38972
Data columns (total 16 columns):
id                38973 non-null int64
age               38973 non-null int64
workclass         38973 non-null object
fnlwgt            38973 non-null int64
education         38973 non-null object
education-num     38973 non-null int64
marital-status    38973 non-null object
occupation        38973 non-null object
relationship      38973 non-null object
race              38973 non-null object
sex               38973 non-null object
capital-gain      38973 non-null int64
capital-loss      38973 non-null int64
hours-per-week    38973 non-null int64
native-country    38973 non-null object
salary            38973 non-null int64
dtypes: int64(8), object(8)
memory usage: 4.8+ MB
___________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6878 entries, 0 to 6877
Data columns (total 15 columns):
id                6878 non-null int64
age               6878 non-null int64
workclass         6878 non-null object
fnlwgt            6878 non-null int64
education         6878 non-null object
education-num     6878 non-null int64
marital-status    6878 non-null object
occupation        6878 non-null object
relationship      6878 non-null object
race              6878 non-null object
sex               6878 non-null object
capital-gain      6878 non-null int64
capital-loss      6878 non-null int64
hours-per-week    6878 non-null int64
native-country    6878 non-null object
dtypes: int64(7), object(8)
memory usage: 806.1+ KB

In [2]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)

NameError: name 'pd' is not defined