In [2]:
import pandas as pd

In [15]:
def get_data(percent):
    df=pd.read_csv("data/train.csv")
    rows=len(df.index)
    start_data=0
    end_data=int(percent*rows/100)
    return df[start_data:end_data]
    
    
def write_data(df):
    df.to_csv('../data/predicted.csv')

In [16]:
df= get_data(10)
print (df.head(5))

   id  age   workclass  fnlwgt      education  education-num  \
0   0   25     Private  226802           11th              7
1   1   38     Private   89814        HS-grad              9
2   2   28   Local-gov  336951     Assoc-acdm             12
3   3   44     Private  160323   Some-college             10
4   5   34     Private  198693           10th              6

        marital-status          occupation    relationship    race    sex  \
0        Never-married   Machine-op-inspct       Own-child   Black   Male
1   Married-civ-spouse     Farming-fishing         Husband   White   Male
2   Married-civ-spouse     Protective-serv         Husband   White   Male
3   Married-civ-spouse   Machine-op-inspct         Husband   Black   Male
4        Never-married       Other-service   Not-in-family   White   Male

   capital-gain  capital-loss  hours-per-week  native-country  salary
0             0             0              40   United-States       0
1             0             0              50   United-States       0
2             0             0              40   United-States       1
3          7688             0              40   United-States       1
4             0             0              30   United-States       0
3897

38973